.topicMainDiv {
  margin: auto;
  width: 80vw !important;
  display: flex;
  justify-content: center;
}

.topicCard {
  margin-top: 30px !important;
  padding: 10px !important;
  background: #ffffff;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border-color: transparent !important;
}

.topicTitle {
  display: flex;
  align-items: center;
  color: #000000 !important;
}

.topicProfile {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.topicProfilePic {
  width: 50px !important;
  height: 50px !important;
  padding: 1px !important;
  border: thin solid black;
  margin-right: 10px !important;
  border-radius: 25px !important;
  background-color: #000000;
}

.topicProfileTimeStamp {
  margin: 0px !important;

  width: 40% !important;
  height: 15px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: start !important;

  color: black;
}

.topicProfileName {
  margin: 0px !important;

  width: 40% !important;
  height: 35px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: start !important;

  color: #000000;
}

.topicButton {
  margin-left: auto !important;
  margin-right: 0px !important;

  width: 110px !important;
  height: 40px !important;
}

.searchBar {
  background: #ffffff;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 25px !important;
  border-color: transparent !important;
}
