.chartsPageDiv {
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.chartsCard {
  display: flex !important;
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
