.signindiv{
    height: 100vh !important;    
    display: flex !important;
    justify-content: center !important;
}

.logincard{
    padding: 20px;
    width: 30rem !important;
    margin: auto !important;
    min-width: 20rem !important;
    display: flex !important;
    justify-content: center !important;
}

.logo{
    align-self: center;
}