.specAnnoncmentDiv {
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.specAnnoncmentSpinerDiv {
  margin: auto;
  width: 80vw;
  height: 90vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specAnnoncmentSpiner {
  justify-self: center;
}

.mainAnnoncmentCard {
  padding: 30px !important;
  border-color: transparent !important;

  width: 100% !important;
}

.divLine {
  width: 60px !important;
  height: 0px !important;

  margin: 0 !important;

  border: 1px solid #d9d9d9;
  transform: rotate(90deg);
}
