.upernavbar {
  margin: auto;
  width: 80vw;
  min-width: fit-content;
  height: 60px !important;
  padding: 0 !important;
  justify-items: center;

  justify-content: space-between !important;
}
.lowernavbar {
  height: 40px !important;
  width: 100%;
  padding: 0 !important;
  justify-content: center !important;
}

.footer {
  height: 100px !important;
  padding: 0 !important;
}

.navbar-expand {
  flex-wrap: nowrap;
}

.logo {
  margin: 0 !important;
  padding: 0 !important;
}

.buttons {
  margin: 0 !important;
  padding: 0 !important;
}

.nav-link {
  color: white !important;
}
